.popup__button-close {
  width: 32px;
  height: 32px;
  background: url("../../../images/close-icon.svg") center / cover no-repeat;
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 600px){
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
