.profile__avatar {
  grid-area: avatar;
  border-radius: 50%;
  max-width: 120px;
  min-height: 120px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 600px) {
  .profile__avatar {
    justify-self: center;
  }
}
