.card__caption {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-height: 80px;
}

@media screen and (max-width: 460px){
  .card__caption {
    min-height: 79px;
  }
}
